h1{
    border-style: solid;
    border-inline: 50px;
}
p {
    display: block;
    
}
.outline {
    display: inline-block;

    border-style: solid;
    border-width: medium;
padding: 10px;
}
.space {
    margin: 15px;
}
figcaption{
    display: inline;
    margin: 50px;
}